<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Bullbol</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" type="image/x-icon" href="~/img/logo Without Color.png">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/CustomStyles.css" rel="stylesheet" />

    <link href="~/fonts/InterFont.css" rel="stylesheet" />
    <link href="~/fonts/LoraFont.css" rel="stylesheet" />
</head>
<body>
    <div class="navcontainer mt-4 rounded-pill mx-3 border border-2 shadow" style=" width:98%;">
        <nav class="navbar navbar-expand-lg navbar-light" style="height:78px;">
            <div>
                <a href="/Home/Index" class="navbar-brand nav-item">
                    <img src="~/img/logo Without Color.png" alt="Logo" class="logo mx-2" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex" id="navbarNavDropdown">
                <ul class="navbar-nav flex-fill">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-item nav-link mx-2 px-3 @(Context.Request.Path == "/Home/Index" ? "active" : "")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/UpcomingEvents" class="nav-item nav-link mx-2 px-3 @(Context.Request.Path == "/Home/UpcomingEvents" ? "active" : "")">Upcoming Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Archive" class="nav-item nav-link mx-2 px-3 @(Context.Request.Path == "/Home/Archive" ? "active" : "")">Archive</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/FAQ" class="nav-item nav-link mx-2 px-3 @(Context.Request.Path == "/Home/FAQ" ? "active" : "")">FAQ</a>
                    </li>
                </ul>
                <form class="d-flex flex-fill">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search Event" aria-label="Search">
                    <button class="btn btn-outline-none search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <ul class="navbar-nav justify-content-end rounded-pill me-3" style="width:14%; box-shadow: 2px 2px 2px 2px #DFDFDF inset;">
                    <li class="nav-item" >
                        <a href="" class="nav-item nav-link ms-2 ps-3 ">Login</a>
                    </li>
                    <li class="nav-item rounded-pill ps-1 pe-3" style="background-color:#08436A;">
                        <a href="" class="nav-item nav-link me-0 pe-0 hovercolor" style="color:white;">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.js"></script>
</body>
</html>
